<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
    <a href="https://scholar.google.com/citations?user=Vssu9d0AAAAJ&hl" class="author-social" target="_blank"><i class="fa fa-fw fa-university"></i> Google Scholar</a>
    <a class="twitter-timeline" href="https://twitter.com/austingmeyer" data-widget-id="710955593813495808">Tweets by @austingmeyer</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div id="index">
    <h3>Welcome!</h3>
      I am computational biologist and medical student. My research focuses primarily on understanding and predicting the evolution of viral proteins and on protein molecular evolution in general. Specifically, I am interested in identifying and quantifying the forces driving the evolution of viruses and how that plays out in the human population. In addition, I am interested in finding ways to predict the molecular evolution and population dynamics of viruses. These days I do entirely computational work.
      <br>
      For my master's research, I crystallized and solved the structure of C2 domains in synaptotagmin with calcium in the binding pocket. For my doctoral research, I implemented molecular evolutionary models of protein evolution and used them to show that simple protein geometry is a major determinant of influenza virus evolution. As a postdoctoral fellow, I focused on identifying constraints that will predict further evolution of the influenza hemagglutinin and neuraminidase proteins. I also do some work to understand how protein energetics can be used to simulate the evolutionary dynamics of proteins, and occasionally (with little success) try to predict specific adaptive mutations.
      <br>
      To find out about my research interests, and the projects I am currently working on, visit the research page. That page will be revamped shortly.
      <br>
      Follow me on twitter <a href="https://twitter.com/austingmeyer">@austingmeyer</a>.
      <br><br><br>

  	<h3>Affiliations</h3>
  	<h4> School of Medicine, Texas Tech University Health Sciences Center </h4>
  	<h4> Center for Computational Biology and Bioinformatics, The University of Texas at Austin</h4>
  	<h4>Lab of Dr. <a href="http://wilkelab.org/">Claus Wilke</a> at the University of Texas at Austin.</h4>
  	<h4>Lab of Dr. <a href="https://www.ttuhsc.edu/som/physiology/faculty/sutton/">Bryan Sutton</a> at Texas Tech University Health Sciences Center</h4>

    <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
    {% for post in site.posts limit:5 %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
      {% else %}
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
      {% endif %}
    </article>
    {% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
